<div class="container">

    <div style="width:100%; margin:0 auto" class="form-sec">
      <h4>Update Product</h4>
      
     <form    [formGroup]="formFer"  name="form" id="qryform"  (ngSubmit)="update()" novalidate>
       <p style="color:green; text-align:center" *ngIf="success"><br> Success,  you're being redirected........... </p>

        <div class="form-group">
          <label>Name:</label>
          <input type="text"  class="form-control" id="name" placeholder=" Name" name="name" formControlName="name">
          <div style="display:inline" class="form-control-feed-back"  *ngIf="formFer.get('name').touched && formFer.get('name').invalid">
          <p style="color:red; display:inline" *ngIf="formFer.get('name').errors.required">Name is Required</p>
        </div>
        </div>
       
        
        <div class="form-group">
          <label>Price:</label>
          <input type="text" class="form-control" id="phone" placeholder=" Price" name="price" formControlName="price">

          <div style="display:inline" class="form-control-feed-back"  *ngIf="formFer.get('price').touched && formFer.get('price').invalid">
          <p style="color:red; display:inline" *ngIf="formFer.get('price').errors.required">Price is Required</p>
        </div>

        </div>
        <div class="form-group">
          <label>Category:</label>
          <select placeholder="Category" class="browser-default custom-select" formControlName="category">
            <option selected disabled>Select Category</option>
            <option value="">One</option>
           
          </select>
          <div style="display:inline" class="form-control-feed-back"  *ngIf="formFer.get('category').touched && formFer.get('category').invalid">
          <p style="color:red; display:inline" *ngIf="formFer.get('category').errors.required">Category is Required</p>
        </div>
        </div>

        <div class="form-group">
            <label>Year:</label>
            <input type="text"  class="form-control" id="name" placeholder=" Year" name="name" formControlName="year">
            <div style="display:inline" class="form-control-feed-back"  *ngIf="formFer.get('name').touched && formFer.get('year').invalid">
            <p style="color:red; display:inline" *ngIf="formFer.get('year').errors.required">Year is Required</p>
          </div>
          </div>

        <div class="form-group">
            <label>Model:</label>
            <input type="text" class="form-control" id="name" placeholder="Model" name="subject"  formControlName="model">
            <div style="display:inline" class="form-control-feed-back"  *ngIf="formFer.get('model').touched && formFer.get('model').invalid">
            <p style="color:red; display:inline" *ngIf="formFer.get('model').errors.required">Model is Required</p>
            </div>
          </div>
         
          <div class="form-group">
            <label>CPU:</label>
            <input type="text" class="form-control" id="name" placeholder="Cpu" name="subject" formControlName="cpu">
            <div style="display:inline" class="form-control-feed-back"  *ngIf="formFer.get('cpu').touched && formFer.get('cpu').invalid">
            <p style="color:red; display:inline" *ngIf="formFer.get('cpu').errors.required">Cpu is Required</p>
            </div>
          </div>

          <div class="form-group">
            <label>Memory:</label>
            <input type="text" class="form-control" id="name" placeholder="Memory" name="subject" formControlName="memory">
            <div style="display:inline" class="form-control-feed-back"  *ngIf="formFer.get('memory').touched && formFer.get('memory').invalid">
            <p style="color:red; display:inline" *ngIf="formFer.get('memory').errors.required">Memory is Required</p>
            </div>
          </div>

          <div class="form-group">
            <label>Display:</label>
            <input type="text" class="form-control" id="name" placeholder="display" name="subject"  formControlName="display">
            <div style="display:inline" class="form-control-feed-back"  *ngIf="formFer.get('display').touched && formFer.get('display').invalid">
            <p style="color:red; display:inline" *ngIf="formFer.get('display').errors.required">Display is Required</p>
            </div>
          </div>




     
        
        
        <input type="submit" class="btn btn-default" value="Submit"  [disabled]="formFer.invalid" >
      </form>
      </div>
    
    
    </div>